*{
    padding: 0%;
    margin: 0%;
    color: white;
    border: border-box;
}

body{
    background-color: rgb(122, 130, 245);

}
.logo{
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100px;
    background-color: aliceblue;
    z-index: 3;
}
.navbar{
    position: fixed;
    top: 0%;
    left: 0%;
    height: 60px;
    width: 1600px;
    border-bottom: 2px solid rgba(255, 255,255, 0.5);
    background-color: #003566;
    z-index: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.optionbar{
    background-color: #003566;
    width: 600px;
    height: 60px;
    border-bottom: 2px rgba(255, 255,255, 0.5);
    

}

#ca{
    border: 2px solid  rgba(245, 245, 245, 0.1);
    background-color: rgba(240, 248, 255, 0.432);
    
}

#op2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a{
    text-decoration: none;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}
#img3{
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100px;
}

.dabba{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.chota_dabba1{
    height: 500px;
    background-color: rgb(255, 253, 253);


}

.chota_dabba3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 700px;
    width: 1200px;
    background-color: rgb(231, 249, 148);
    

}

#bdh1{
    font-size: 48px;
    font-family: sans-serif;
    position: absolute;
    top: 90px;
    left: 45%;
}

#bdp1{
    font-size: 24px;
    font-family: sans-serif;
    position: absolute;
    top: 30%;
    left: 10%;
    color: rgba(245, 245, 245, 0.878);
}

.box{
    background-color: rgba(255, 255, 255, 0.874);
    height: 320px;
    width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: black;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.422) ;
}

h2{
    color: black;
    
}
h1{
    font-size: 36px;
    
}
.chota_dabba2{
    display: flex;
    justify-content: left;
    height: 70px;
    width: 1200px;
}